APP_NAME=ai_calendar
APP_ENV=local
APP_KEY=you_key
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=Europe/Saratov

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=ai_calendar_db
DB_USERNAME=dbuser
DB_PASSWORD=dbpass

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=local

CACHE_STORE=database

LOG_CHANNEL=stack

COMPOSE_PROJECT_NAME=my_calendar_app

# Очередь (Redis)
QUEUE_CONNECTION=redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=pass
REDIS_CLIENT=predis

# AI Api (yandex или openai)
AI_PROVIDER=yandex

YANDEX_AI_API_KEY=your_api_key
YANDEX_AI_FOLDER_ID=your_folder_id

OPENAI_API_KEY=your_openai_key
